<h1>CPC 크롤러</h1>

<div>
  <%= link_to '네이버 키워드 크롤링', crawler_new_naver_path %>
</div>

<div>
  <%= link_to '구글 키워드 크롤링', crawler_new_google_path %>
</div>

<div>
  <%= link_to '크롤링 결과 다운로드', crawler_download_path %>
</div>

<div>
  <a href="/resque">크롤러 상태 리스트</a>
</div>

